@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@keyframes slideDownUp {
  0% {
    opacity: 0;
    transform: translate(-50%, -40px);
  }
  15% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  85% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -40px);
  }
}

.animate-slide-down-up {
  animation: slideDownUp 2.5s ease-in-out forwards;
}
